@font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto-Black.ttf");
}
*{
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
img {
    border: 2px solid green;
    border-radius: 19px;
    width: 200px;
    position: absolute;
        left: 1%;
        top: 3%;
    }